<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring MVC</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div th:if="${product} != null">
        <h3 th:text="'Product Name: ' + ${product.name}" />
        <table border="1">
            <thead>Features:</thead>
            <tbody>
                <tr th:each="feature:${product.featuresList}">
                    <td th:text="${feature.name}"></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div th:if="${product} == null">
        <h3>Product Not Found.</h3>
    </div>
</body>
</html>
